#header
{
	height: 10%;
	background-color: #666;
	margin-bottom: 10px;
}

#leftnav
{
	float: left;
	width: 25%;
	height: 70%;
	background-color: #999;
	margin-bottom: 10px;
}

#content
{
	float: left;
	margin-left: 2%;
	width: 73%;
	height: 70%;
	background-color: #999;
	margin-bottom: 10px;
}

#footer
{
	clear: both;
	height: 10%;
	background-color: #666;
	margin-bottom: 10px;
}